/*navbar*/

/*Scroll behavior smooth para que sea más suave la navegación*/
/*Scroll-padding-top para que cuando el usuario presione el link, también tome en cuenta la altura del navbar y nos nos tape parte de la section*/ /*yo le agregue 20px más*/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
}

/*transition cards*/

.cards-info:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}



