
/* NAVBAR */

@media screen and (min-width: 320px) and (max-width: 359px) {
    .navbar ul {
        position: absolute;
        top: 94px;
        left: 5%;
        right: 5%;
        width: 90%;
        background: var(--nav-bg);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        padding: 10px;
        gap: 20px;
        border-radius: 15px;
        border: 1px solid black;
        font-size: 5px;
        cursor: pointer;
    }

    .navbar i {
        display: block;
    }

    #menu-toggle:checked ~ .navbar-list {
        display: flex;
    }

    .logo {
        height: 39px;
        flex-wrap: wrap;
    }

    .navbar i {
        font-size: 20px;
    }
}


@media screen and (min-width: 360px) and (max-width: 399px) {
    .navbar ul {
        position: absolute;
        top: 94px;
        left: 5%;
        right: 5%;
        width: 90%;
        background: var(--nav-bg);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        padding: 10px;
        gap: 20px;
        border-radius: 15px;
        border: 1px solid black;
        font-size: 5px;
        cursor: pointer;
    }

    .navbar i {
        display: block;
    }

    #menu-toggle:checked ~ .navbar-list {
        display: flex;
    }

    .logo {
        height: 45px;
        flex-wrap: wrap;
    }

    .navbar i {
        font-size: 20px;
    }
}


@media screen and (min-width: 400px) and (max-width: 922px) {
    .navbar ul {
        position: absolute;
        top: 94px;
        left: 5%;
        right: 5%;
        width: 90%;
        background: var(--nav-bg);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        padding: 10px;
        gap: 20px;
        border-radius: 15px;
        border: 1px solid black;
        font-size: 5px;
        cursor: pointer;
    }

    .navbar i {
        display: block;
    }

    #menu-toggle:checked ~ .navbar-list {
        display: flex;
    }
}


@media screen and (min-width: 1200px) and (max-width: 2440px) {
    .logo {
        height: 70px;
        flex-wrap: wrap;
    }

    .navbar-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .navbar-list a {
        color: var(--text-white);
        font-size: 25px;
    }

    #hero {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 180px 30px 30px 30px;
        color: var(--text-nav);
        font-size: 20px;
        display: block;
    }

    #hero p {
        font-size: 25px;
    }

    #info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 80px 30px;
    }

    #info p {
        font-size: 25px;
    }

    #cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 80px 30px;
        color: var(--text-nav);
        font-size: 20px;
        display: block;
    }

    .cards-info {
        width: 320px;
        height: 400px;
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: var(--background);
        border-radius: 20px;
        box-shadow: 7px 13px 37px var(--bg-primary);
        gap: 20px;
    }

    #cards p {
        font-size: 20px;
    }

    .cards-info img {
        width: 100px;
    }

    .cards-info h3 {
        font-size: 23px;
        width: 100%;
        font-weight: 800;
        text-align: center;
    }
    
    .cards-info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        gap: 20px;
    }

    #contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 80px 30px;
        color: var(--text-nav);
        font-size: 20px;
    }

    footer .social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    footer .list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    footer p {
        color: var(--text-white);
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}





/* IMG PORTADA */

/*mobile*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    .hero-img {
        grid-template-columns: repeat(1, 1fr);
    }
    .item:nth-child(even), /*even = pares*/
    .item:nth-child(odd) { /* odd = impares*/
        grid-column: auto;
        grid-row: auto;
    }
}

/*tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .hero-img {
        grid-template-columns: repeat(2, 1fr);
    }
    .item:nth-child(even), /*even = pares*/
    .item:nth-child(odd) { /* odd = impares*/
        grid-column: auto;
        grid-row: auto;
    }
}

/*laptop - desktop*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero-img {
        grid-template-columns: repeat(3, 1fr);
    }
    .item:nth-child(even), 
    .item:nth-child(odd) { 
        grid-column: auto;
        grid-row: auto;
    }
}












